
   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    <div id="app">

        <div id="listContactsSide">

            <div class="user-nav">
                <div class="l-user-icons">
                    <img src="img/avatar0.png" alt="Avatar Utente">
                    <span class="user-name">Sofia</span>
                </div>
                <div class="r-user-icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="notifica">
                <div class="notifica-background">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifica-texts">
                    <div class="strong">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                    </div>
                    <a href="#">Attiva notifiche desktop</a>
                </div>           
            </div>

            <div class="chat-search">
                <div class="search-icon">
                    <i class="fas fa-search"></i>
                </div>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" @keydown.enter="filtroContatti()">
            </div>

            <div class="contact-list">
                <div v-for="(contact, index) in filtroContatti" class="contact" 
                :class="(index == nowContact ? 'contact-active' : null)" 
                @click="settaggioIndexContatti(index)">
                    <div class="l-contact">
                        <img :src="filtroContatti[index].avatar" alt="Avatar Contatto">
                        <div class="info">
                            <div class="contact-name">
                                <span>{{ contact.name }}</span>
                            </div>
                            <div v-if="contact.messages.length > 0" class="last-message">
                              <span>  {{ contact.messages.slice(-1)[0].text }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="r-contact">
                        <div v-if="contact.messages.length > 0" class="message-time">
                           <span> {{ contact.messages.slice(-1)[0].date }}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="r-side">

            <div class="contact-nav">
                <div class="l-contact-icons">
                    <img :src="filtroContatti[nowContact].avatar" alt="Avatar Utente">
                    <div class="contact-info">
                        <div class="contact-name">
                            <span>{{ filtroContatti[nowContact].name }}</span>
                        </div>
                        <div  v-if="filtroContatti[nowContact].messages.length > 0"  class="last-access">Ultimo accesso oggi alle ore {{filtroContatti[nowContact].messages.slice(-1)[0].date}}</div>
                    </div>
                </div>
                <div class="r-contact-icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="message-area">
                <div v-for="(message, index) in filtroContatti[nowContact].messages" class="message" :class="(filtroContatti[nowContact].messages[index].status == 'sent') ? 'message-sent' : 'message-received'" @mouseover="setIndexMessage(index)" @mouseleave="removeIndexMessage()">
                   <span> {{ filtroContatti[nowContact].messages[index].message }}</span>
                    <span class="message-date">
                        {{ filtroContatti[nowContact].messages[index].date }}
                    </span>
                    
                </div>
            </div>

            <div class="message-controls">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="messageText" @keydown.enter="newMessage(nowContact)">
                <i class="fas fa-microphone"></i>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>